.cover__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin: 70px auto 0 auto;
}

@media (min-width: 768px) {
  .cover__title {
    margin: 130px auto 0 auto;
    font-size: 72px;
    line-height: 78px;
  }
}
