@import url("./__title/comments__title.css");
@import url("./__subtitle/comments__subtitle.css");
@import url("./__container/comments__container.css");

.comments {
  display: flex;
  flex-direction: column;
  margin: 76px auto 0 auto;
}
