@import url("../../vendor/normalize.css");
@import url("../header/header.css");
@import url("../lead/lead.css");
@import url("../intro/intro.css");
@import url("../photos/photos.css");
@import url("../places/places.css");
@import url("../video/video.css");
@import url("../comments/comments.css");
@import url("../cover/cover.css");
@import url("../footer/footer.css");

.page {
  background-color: #2a2c2f;
  min-width: 320px;
  max-width: 1445px;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
