.item_subtitle {
  font-family: Inter-Light;
  position: absolute;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  left: 16px;
  top: 150px;
}

/* TODO maybe create another tag for the second video to position the subtitle correctly in relation to the title */
