@import url("./__title/two-columns__title.css");
@import url("./__url/two-columns__url.css");
@import url("./__paragraphs/two-columns__paragraphs.css");

.two-columns {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .two-columns {
    flex-wrap: nowrap;
  }
}
