.places__title {
  font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 35px;
  color: #ffffff;
}

@media (min-width: 666px) {
  .places__title {
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 42px;
line-height: 46px;
  }


  @media (min-width:1024px){
    .places__title{
    font-size: 72px;
line-height: 65px;
  }
}