@import url("./__item/list__item.css");
@import url("./__links/list__link.css");
@import url("./__copyright/list__copyright.css");

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .list {
    width: 768px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 28px;
  }
}

@media (min-width: 1024px) {
  .list {
    width: 928px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1280px) {
  .list {
    width: 1188px;
    justify-content: space-around;
  }
}
