@import url("./__title/places__title.css");
@import url("./__image/places__image.css");
@import url("./__paragraph/places__paragraph.css");
@import url("./__website/places__website.css");

.places {
  margin: 64px 0 0 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-template-rows: auto;
  max-width: 767px;
}

@media (max-width: 375px) {
  .places {
    grid-template-columns: repeat(auto-fit, 375px);
  }
}

@media (min-width: 768px) {
  .places {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 340px);
  }
}

@media (min-width: 1024px) {
  .places {
    grid-template-columns: repeat(auto-fit, 440px);
    margin: 102px auto 0;
  }
}

@media (min-width: 1280px) {
  .places {
    grid-template-columns: repeat(auto-fit, 460px);
    margin: 72px auto 0;
  }
}
