@import url("./__title/intro__title.css");
@import url("./__subtitle/intro__subtitle.css");
@import url("./__main-text/intro__main-text.css");
@import url("./__text/Intro__text.css");

.intro {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1024px;
  margin: 64px auto;
}
