@import url("./title_comments.css");
@import url("./title_cover.css");
@import url("./title_video.css");

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}
