.nav__link {
  font-family: Inter;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 17px;
  font-style: normal;
  margin-left: 16px;
}

@media (min-width: 375px) {
  .nav__link_active {
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 24px;
    line-height: 23px;
  }
}
