.footer__link {
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  margin-left: 16px;
  margin-bottom: 32px;
  font-style: none;
  text-decoration: none;
}

.footer__link:last-of-type {
  margin-bottom: 0;
}

.footer__link:first-of-type {
  margin-top: 0;
}

@media (min-width: 768px) {
  .footer__link {
    margin-left: 0;
  }
}
