.list__copyright {
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 16px;
  margin-bottom: 22px;
  text-decoration: none;
  margin: 0 16px 22px;
}

@media (min-width: 768px) {
  .list__copyright {
    margin-left: 280px;
  }
}

@media (min-width: 1024px) {
  .list__copyright {
    text-align: right;
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .list__copyright {
    margin-left: 500px;
    margin-right: 0;
  }
}
