.videos__title {
  width: calc(100% - 30px);
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 0 auto;
}

@media (min-width: 375px) {
  .videos__title {
    margin-top: 73px;
  }
}

@media (min-width: 768px) {
  .videos__title {
    font-size: 42px;
    line-height: 45px;
    margin-top: 110px;
  }
}

@media (min-width: 1024px) {
  .videos__title {
    margin-top: 100px;
    font-size: 72px;
    line-height: 78px;
  }
}
