.comment__author {
  font-family: Inter;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 0;
  width: 300px;
}

@media (min-width: 1024px) {
  .comment__author {
    order: 3;
  }
}
