.footer__copyright {
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 16px;
  margin-bottom: 22px;
  text-decoration: none;
  margin-top: 48px;
  margin-left: 16px;
}
