.places__paragraph {
  font-family: Inter;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  margin: 0;
}


@media (max-width: 767px) {
  .places__paragraph {
    font-size: 18px;
    line-height: 30px;
    margin-top: 24px;
    margin-left: 16px;
    width: 300px;
    justify-content: center;
  }


  @media (min-width:666px){
  .places__paragraph-one {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .places__paragraph-two {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .places__paragraph-three {
    grid-column-start: 2;
    grid-row-start: 4;
  }
}