.places__paragraph {
  font-family: Inter-Light;
  font-size: 1.025rem;
  line-height: 1.8;
  color: #ffffff;
  margin: 0;
}


@media (max-width: 767px) {
  .places__paragraph {
    margin-top: 24px;
    margin-left: 16px;
    width: 300px;
    justify-content: center;
  }


  @media (min-width:666px){
  .places__paragraph-one {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .places__paragraph-two {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .places__paragraph-three {
    grid-column-start: 2;
    grid-row-start: 4;
  }
}