@import url("./numbers__text_bold.css");

.numbers__text {
  font-family: Inter;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  margin-top: 0;
}

.numbers__text:first-of-type {
  margin-top: 48px;
}

@media (min-width: 768px) {
  .numbers__text {
    font-size: 13px;
    line-height: 20px;
  }
}
