@import url("./__image/photo-grid__image.css");

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 288px);
  justify-content: center;
  margin-top: 71px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 8px;
}
