.lead__subtitle {
  max-width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  margin: 8px auto 0 auto;
}

@media (min-width: 768px) {
  .lead__subtitle {
    margin-top: 50px;
    font-size: 30px;
    line-height: 36px;
    max-width: 610px;
  }
}
