.lead__caption {
  width: 288px;
  height: 10px;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  margin-left: 16px;
  margin-top: 11px;
}
