@import url("./_icon-play/item_icon-play.css");
@import url("./_duration/item_duration.css");
@import url("./_title/item_title.css");
@import url("./_subtitle/item_subtitle.css");

.video__container_item {
  position: relative;
  width: 288px;
  height: 192px;
  background: #000000;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-right: 16px;
}
