.video__author {
  color: #ffffff;
  left: 16px;
  top: 160px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  padding-left: 16px;
  margin-top: 5px;
}

@media (min-width: 1024px) {
  .video__author {
    position: absolute;
    top: 210px;
    left: auto;
  }
}
