.photo-grid__image {
  margin-bottom: 8px;
  width: 288px;
  height: 192px;
}

@media (min-width: 375px) {
  .photo-grid__image {
    margin-bottom: 16px;
    width: 343px;
    height: 232px;
  }
}

@media (min-width: 768px) {
  .photo-grid__image {
    width: 352px;
    height: 234px;
  }
}

@media (min-width: 1024px) {
  .photo-grid__image {
    width: 300px;
    height: 200px;
  }
}

@media (min-width: 1280px) {
  .photo-grid__image {
    width: 284px;
    height: 188px;
  }
}
