.list__link {
  font-family: Inter;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  margin-left: 16px;
  margin-bottom: 30px;
  text-decoration: none;
}

.list__link:hover {
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .list__link {
    font-size: 24px;
    line-height: 41px;
  }
}
