@import url("./__logo/header__logo.css");
@import url("./__lang/header__lang.css");
@import url("./__container/header__container.css");

.header {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
