.cover__subtitle {
  font-family: Inter;
  top: 143px;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin: 40px auto;
  max-width: 260px;
}

@media (min-width: 768px) {
  .cover__subtitle {
    margin: 110px auto;
  }
}

@media (min-width: 1024px) {
  .cover__subtitle {
    margin: 125px auto;
  }
}
