@import url("./item/video__item.css");
@import url("./_image/video__container_image.css");
@import url("./_button/video__container_button.css");
@import url("./_duration/video__container_duration.css");
@import url("./_title/video__container_title.css");
@import url("./_author/video__container_button.css");

.video__container {
  display: flex;
  flex-wrap: wrap;
  margin: 24px auto 0;
}

.video__container:first-of-type {
  margin-top: 24px;
}
