.cover__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin: 70px auto 0 auto;
}

@media (min-width: 375px) {
  .cover__title {
    margin-top: 84px;
  }
}

@media (min-width: 768px) {
  .cover__title {
    margin-top: 130px;
    font-size: 72px;
    line-height: 78px;
    margin-top: 170px;
  }
}

@media (min-width: 1024px) {
  .cover__title {
    margin-top: 250px;
    letter-spacing: 2.8px;
  }
}

@media (min-width: 1280px) {
  .cover__title {
    margin-top: 276px;
    letter-spacing: 1;
  }
}
