@import url("./__list/footer__list.css");
@import url("./__copyright/footer__copyright.css");

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 102px 24px 24px 24px;
  }
}

@media (min-width: 1024px) {
  .footer {
    margin: 126px 48px 50px 89px;
  }
}

@media (min-width: 1280px) {
  .footer {
    margin: 160px 48px 48px;
  }
}

@media (min-width: 1440px) {
  .footer {
    margin: 170px 128px 48px;
  }
}
