@import url("../vendor/normalize.css");
@import Url("../fonts/fonts.css");
@import url("../blocks/header/header.css");
@import url("../blocks/lead/lead.css");
@import url("../blocks/intro/intro.css");
@import url("../blocks/photos/photos.css");
@import url("../blocks/places/places.css");
@import url("../blocks/videos/videos.css");
@import url("../blocks/title/title.css");
@import url("../blocks/subtitle/subtitle.css");
@import url("../blocks/comments/comments.css");
@import url("../blocks/cover/cover.css");
@import url("../blocks/footer/footer.css");

.page {
  background-color: #2a2c2f;
  min-width: 320px;
  max-width: 1445px;
  margin: auto;
  padding: 0;
  font-family: "Inter", sans-serif;
}
