@import url("./normalize.css");
@import url("./fonts/fonts.css");
@import url("./header/header.css");
@import url("./lead/lead.css");
@import url("./intro/intro.css");
@import url("./photo-grid/photo-grid.css");
@import url("./places/places.css");
@import url("./video/video.css");
@import url("./comments/comments.css");
@import url("./cover/cover.css");
@import url("./footer/footer.css");

.page {
  background-color: #2a2c2f;
  min-width: 320px;
  max-width: 1445px;
  font-family: "Inter";
  margin: 0;
  padding: 21px 16px 22px;
  font-family: "Inter", sans-serif;
}

@media (min-width: 768px) {
  .page {
    padding: 35px 24px 24px;
  }
}

@media (min-width: 768px) {
  .page {
    padding: 36px 48px 48px;
  }
}

@media (min-width: 1440px) {
  .page {
    padding: 33px 128px 128px;
  }
}
