@import url("./normalize.css");
@import url("./header/header.css");
@import url("./lead/lead.css");
@import url("./intro/intro.css");
@import url("./photo-grid/photo-grid.css");
@import url("./places/places.css");
@import url("./video/video.css");
@import url("./comments/comments.css");
@import url("./cover/cover.css");
@import url("./footer/footer.css");

@font-face {
  src: url("../Inter-3.12/Inter/Inter-Regular.otf");
  font-family: "Inter";
}

@font-face {
  src: url("../Inter-3.12/Inter/Inter-Bold.otf");
  font-family: "Inter-Bold";
  font-weight: bold;
}

@font-face {
  src: url("../Inter-3.12/Inter/Inter-ExtraBold.otf");
  font-family: "Inter-ExtraBold";
  font-weight: 900;
}

@font-face {
  src: url("../Inter-3.12/Inter/Inter-Italic.otf");
  font-family: "Inter-Italic";
  font-style: italic;
}

@font-face {
  src: url("../Inter-3.12/Inter/Inter-Light.otf");
  font-family: "Inter-Light";
}

@font-face {
  src: url("../Inter-3.12/Inter/Inter-Thin.otf");
  font-family: "Inter-Thin";
}

.page {
  background-color: #2a2c2f;
  min-width: 320px;
  max-width: 1440px;
  font-family: "Inter";
  margin: 0;
  padding: 0;
}
