.lead__image {
  width: 122vw;
  align-self: center;
  margin-top: 35px;
}

@media (min-width: 1000px) {
  .lead__image {
    width: calc(100% - 30px);
    max-width: 984px;
    margin-top: 65px;
  }
}
